:root{
    --text-color:rgb(41, 0, 130);
    --font-size: 30px;
    --button-color:rgb(119, 119, 247);
    --button-border-radius:30px;
    --background-color:rgb(131, 247, 77);
}
body{
    background-color: rgb(132, 207, 237);
}
h1{
    color:var(--text-color);
font-size: var(--font-size);

}
header{
width: 100%;
height: 100px;
background-color: rgb(30, 175, 183);
display: flex;
justify-content: space-between;
align-items: center;
}

.new{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 600px;
}
img{
    width: 100px;
    height: 100px;
}
footer{

    background-color:  rgb(30, 175, 183);
}